Source: python3-linz-gdb
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Section: python
X-Python-Version: >= 3.5
Priority: optional
Build-Depends: 
  python3-all,
  python3-setuptools,
  debhelper (>=9)
Standards-Version: 3.9.1

Package: python3-linz-gdb
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python LINZ GDB
 Provides LINZ geodetic database access
